@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Jua&display=swap');

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #fff;
  background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
}

header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
}

#logo {
  cursor: pointer;
}

#logo a {
  text-decoration-line: none;
  color: black;
}

nav {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration-line: none;
  color: black;
}

nav a:hover {
  color: #886f6f;
  cursor: pointer;
}

main {
  width: 100%;
  padding: 0 15rem;
}

h2 {
  font-size: 50px;
}

section {
  padding-top: 6rem;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

#intro div {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#intro h4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intro h4 strong {
  font-size: 200%;
  transition: all 0.2s ease-in-out;
  position: relative;
}

#intro h4 strong::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #2980b9;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

#intro h4 strong:hover {
  color: #2980b9;
}
#intro h4 strong:hover::before {
  top: -10px;
  opacity: 1;
}

#intro img {
  width: 20vw;
  border-radius: 15px;
}

#skill {
  width: 100%;
}

#skill ul {
  padding: 20px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#skill ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-me-contents {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-me ul {
  display: flex;
  flex-direction: column;
}

#about-me ul li {
  padding-bottom: 2rem;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}

#about-me ul li p {
  float: left;
}

.about-me-icon {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  color: white;
  width: 100%;
  height: 5rem;
  background-color: #694e4e;
  display: flex;
  justify-content: center;
  align-items: center;
}
