@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Jua', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #fff;
  background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
}

header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
}

#logo {
  cursor: pointer;
}

#logo a {
  text-decoration-line: none;
  color: black;
}

nav {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration-line: none;
  color: black;
}

nav a:hover {
  color: #886f6f;
  cursor: pointer;
}

main {
  width: 100%;
  height: 1000px;
  padding: 0 15rem;
}

#intro {
  padding-top: 6rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#intro h4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intro h4 strong {
  font-size: 200%;
  transition: all 0.2s ease-in-out;
  position: relative;
}

#intro h4 strong::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #2980b9;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

#intro h4 strong:hover {
  color: #2980b9;
}
#intro h4 strong:hover::before {
  top: -10px;
  opacity: 1;
}

#intro img {
  width: 25vw;
  border-radius: 15px;
}

#skill {
  padding-top: 6rem;
  background-color: pink;
  width: 100%;
}

footer {
  color: white;
  width: 100%;
  height: 5rem;
  background-color: #694e4e;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* mobile ----------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1000px) {
  body {
    /* background-color: pink; */
  }
  header {
    font-size: small;

    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
  }

  #logo {
    cursor: pointer;
  }

  #logo a {
    text-decoration-line: none;
    color: black;
  }

  nav {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav a {
    text-decoration-line: none;
    color: black;
  }

  nav a:hover {
    color: #886f6f;
    cursor: pointer;
  }

  main {
    width: 100%;
    height: 1000px;
    padding: 0 1rem;
  }

  #intro {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  #intro h4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #intro h4 strong {
    font-size: 200%;
    transition: all 0.2s ease-in-out;
    position: relative;
  }

  #intro h4 strong::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #2980b9;
    transition: all 0.2s ease-in-out;
    opacity: 0;
  }

  #intro h4 strong:hover {
    color: #2980b9;
  }
  #intro h4 strong:hover::before {
    top: -10px;
    opacity: 1;
  }

  #intro img {
    padding-bottom: 10px;
    width: 250px;
    border-radius: 10%;
  }

  #skill {
    padding-top: 6rem;
    background-color: pink;
    width: 100%;
  }
}

/* tablet ----------------------------------------------------------------------------------------------- */

@media screen and (min-width: 1001px) and (max-width: 1445px) {
  body {
    background-color: green;
  }
  header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
  }

  #logo {
    cursor: pointer;
  }

  #logo a {
    text-decoration-line: none;
    color: black;
  }

  nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav a {
    text-decoration-line: none;
    color: black;
  }

  nav a:hover {
    color: #886f6f;
    cursor: pointer;
  }

  main {
    width: 100%;
    height: 1000px;
    padding: 0 15rem;
  }

  #intro {
    padding-top: 6rem;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  #intro h4 {
    font-size: smaller;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #intro h4 strong {
    font-size: 200%;
    transition: all 0.2s ease-in-out;
    position: relative;
  }

  #intro h4 strong::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #2980b9;
    transition: all 0.2s ease-in-out;
    opacity: 0;
  }

  #intro h4 strong:hover {
    color: #2980b9;
  }
  #intro h4 strong:hover::before {
    top: -10px;
    opacity: 1;
  }

  #intro img {
    padding: 30px 20px 0 30px;
    width: 23vw;
    border-radius: 15px;
  }

  #skill {
    padding-top: 6rem;
    background-color: pink;
    width: 100%;
  }
}
